@model HELZFashion.Domain.Entities.Basket
<style>
    
    body {
        background-color: #f8f9fa;
    }

    .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
    }

    h2 {
        color: #823384;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #343a40;
    }

    th, td {
        border: 1px solid #dee2e6;
        padding: 8px;
        text-align: left;
        margin: 4px 0;
    }

    th {
        background-color: #ffffff;
        color: #ffffff; 
    }

    tbody tr:hover {
        background-color: #f8f9fa; 
    }

    h3 {
        margin-top: 20px;
        color: #28a745; 
    }

    .btn-primary {
        background-color: #007bff; 
        border-color: #007bff;
        color: #ffffff; 
    }

        .btn-primary:hover {
            background-color: #0056b3; 
            border-color: #0056b3;
        }
</style>

<div>
    <h2>Basket</h2>


    @if (Model.Items.Count == 0)
    {
        <p>Your basket is empty.</p>
    }
    else
    {
        decimal total_price = 0;
        <table class="table ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Clothes.Name</td>
                        <td>@item.Clothes.Price</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
        {
            @foreach (var item in Model.Items)
            {
                total_price += item.Clothes.Price;
            }
        }
        <h3>Total Price: @total_price &#x20BA; </h3>

        <a asp-controller="Order" asp-action="AddOrder" class="btn btn-primary">Checkout</a>
    }
</div>