@model HELZFashion.Domain.Entities.Basket
<style>
    .table {
        width: 1000px;
        border-collapse: collapse;
        margin-top: 20px auto;
    border-color: #CDD873;
        margin-top:5px;
        margin:auto;
    }

    th {
    color: #CDD873;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }


    tbody tr:hover {
        background-color: #D5AA41;
        color: white; 
    }

    .btn {
        background-color: #D5AA41;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    h2{
        text-align:center;
    }
    h3{
        text-align:center;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    button{
        text-align:center;
    }

    .btn-container {
        margin-top: 20px;
        text-align: center; /* Center the content */
    }

    .btn {
        background-color: #D5AA41;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none; /* Remove default link styling */
    }
</style>


<div>
    <h2>Basket</h2>


    @if (Model.Items.Count == 0)
    {
        <p>Your basket is empty.</p>
    }
    else
    {
        decimal total_price = 0;
        <table class="table ">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Clothes.Name</td>
                    <td>@item.Clothes.Price</td>
                    <td>@item.Quantity</td>
                </tr>
            }
            </tbody>
        </table>
        {
            @foreach (var item in Model.Items)
            {
                total_price += item.Clothes.Price;
            }
        }
        <h3>Total Price: $ @total_price </h3>

        <div class="btn-container">
            <a asp-controller="Order" asp-action="AddOrder" class="btn btn-primary">Checkout</a>
        </div>    }
</div>