@model HELZFashion.MVC.ViewModels.BasketAndOrderViewModel
@using HELZFashion.Domain.Enums;
<h1>AddOrder</h1>

<h4>Order</h4>
<style>
    .card-header {
        background-color: #47280B;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    .card-body {
        background-color: white;
        color: #47280B;
        font-size: 25px;
        text-align: center;
    }

    .card {
        width: 450px;
    }

    body {
        font-color: #47280B;
    }

    .btn {
        background-color: #47280B;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="container mt-3">
            
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}