@using Microsoft.AspNetCore.Identity;
@using HELZFashion.Domain.Entities;
@model List<Brand>

<style>
    .table {
        width: 1000px;
        border-collapse: collapse;
        margin-top: 20px auto;
        border-collapse: collapse;
        margin-top: 50px;
        border-color: #D03B3B;
        margin-top: 5px;
        margin: auto;
    }

    th {
        color: #D03B3B;
        background-color: #47280B;
        padding: 10px;
        text-align: left;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tbody tr:hover {
        background-color: #D03B3B;
        color: white;
    }

    .btn {
        background-color: #47280B;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }
</style>

<div class=" mt-5 text-center">
    <h2 style="color:  #D03B3B;">
        💄 Brands 👟

    </h2>
    <table class="table mt-5">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@brand.Name</td>
                <td>@brand.Description</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@brand.Id" class="btn bg-danger">Delete</a>
                    <a asp-action="Update" asp-route-id="@brand.Id" class="btn bg-warning">Update</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
