<style>
    .card-header {
        background-color: #D03B3B;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    .card-body {
        background-color: white;
        color: #D03B3B;
        font-size: 25px;
        text-align: center;
    }

    .card {
        width: 450px;
    }

    body {
        font-color: #D03B3B;
    }

    .btn {
        background-color: #D03B3B;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

<div class="container d-flex justify-content-center ">
    <div class="row ">
        <div class="col-12 ">
            <div class="card w-250">
                <div class="card-header">
                    Update Brand
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="Name">Brand Name</label>
                            <input type="text" id="Name" name="Name" class="form-control border-warning">

                            <label for="Description">Brand Description</label>
                            <input type="text" id="Description" name="Description" class="form-control border-warning">

                        </div>
                        <div class="text-center">
                            <br />
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>