﻿@using HELZFashion.Domain.Entities;
@model Clothes
<style>
    body {
        background-color: white; /* Değişen arka plan rengi */
        color: #47280B; /* Metin rengi */
        font-family: Arial, sans-serif; /* Genel yazı tipi */
    }

    h2 {
        color: #D03B3B;
        font-family: 'Pacifico', cursive, sans-serif;
    }

    .price {
        font-weight: bold;
        font-size: 20px;
        color: #47280B; /* Ürün fiyatı rengi */
    }

    .description {
        font-style: italic;
        color: #47280B; /* Açıklama metni rengi */
    }

    .product-image {
        border: 2px solid #28543C;
        padding: 10px;
    }
</style>



<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="@Model.ImageUrl" alt="Product Image" class="img-fluid product-image">
            </div>
            <div class="col-md-6">
                <h2 class="my-3">@Model.Name</h2>
                <p class="description">@Model.Description</p>
                <p class="price">Price: $@Model.Price</p>
                <button class="btn btn-outline-success">Buy Now</button>
            </div>
        </div>
    </div>
</body>



