@using HELZFashion.Domain.Enums;
@using HELZFashion.MVC.Models
@model HELZFashion.MVC.ModelViews.AuthRegisterViewModel
<style>
    .card-header {
        background-color:white;
        color: #47280B;
        font-size: 25px;
        text-align:center;
    }

    .card-body {
        background-color: #47280B;
        color: white;
        font-size: 25px;
        text-align: center;
    }
    .card{
        width: 450px;
    }
    body{
        font-color: #47280B;
    }
</style>
<div class="container d-flex justify-content-center ">
    <div class="row ">
        <div class="col-12 ">
            <div class="card w-250">
                <div class="card-header">
                    Join Us
                </div>
                <div class="card-body">
                    <form asp-action="Register" asp-controller="Auth" method="post" class="needs-validation" novalidate>
                        <div class="form-group mt-2">
                            <label for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="Email" required>
                            <div class="invalid-feedback">Email is required.</div>
                        </div>
                        <div class="form-group mt-4">
                            <label for="UserName">Username</label>
                            <input asp-for="Username" type="text" class="form-control" id="UserName" required minlength="2">
                            <div class="invalid-feedback">Username is required and must be at least 2 characters long.</div>
                        </div>
                        <div class="form-group mt-4">
                            <label for="Password">Password</label>
                            <input asp-for="Password" type="password" class="form-control" id="Password" required minlength="6">
                            <div class="invalid-feedback">Password is required and must be at least 6 characters long.</div>
                        </div>
                        <div class="form-group mt-4">
                            <label for="FirstName">First Name</label>
                            <input asp-for="FirstName" type="text" class="form-control" id="FirstName" required>
                            <div class="invalid-feedback">First Name is required.</div>
                        </div>
                        <div class="form-group mt-4">
                            <label for="LastName">Lastname</label>
                            <input asp-for="LastName" type="text" class="form-control" id="LastName" required>
                            <div class="invalid-feedback">Surname is required.</div>
                        </div>
                        <div class="form-group mt-4">
                            <label for="BirthDate">Birth Date</label>
                            <input asp-for="BirthDate" type="date" class="form-control" id="BirthDate">
                        </div>
                        <div class="form-group mt-4">
                            <label for="Gender">Gender</label>
                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control" id="Gender" required>
                                <option value="">Select Gender</option>
                            </select>
                            <div class="invalid-feedback">Gender is required.</div>
                        </div>
                        <button type="submit" class="btn btn-primary  mt-4">Register</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>