<style>
    .card-header {
        background-color: #47280B;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    .card-body {
        background-color:white ;
        color: #47280B;
        font-size: 25px;
        text-align: center;
    }

    .card {
        width: 450px;
    }

    body {
        font-color: #47280B;
    }

    .btn {
        background-color: #47280B;
        color: white; 
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
    }
</style>
<div class="container d-flex justify-content-center ">
    <div class="row ">
        <div class="col-12 ">
            <div class="card w-250">
                <div class="card-header">
                    Add Category
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="CategoryName">Category Name</label>
                            <input type="text" id="CategoryName" name="CategoryName" class="form-control border-primary  mt-5">
                        </div>
                        <div class="text-center">
                            <br />
                            <button type="submit" class="btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>