<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: lightskyblue;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto card">
                <h1 class="text-center">Category Add Page</h1>
                <form method="post">
                    <div class="form-group">
                        <label for="CategoryName">Category Name</label>
                        <input type="text" id="CategoryName" name="CategoryName" class="form-control border-primary">
                    </div>
                    <div class="text-center">
                        <br />
                        <button type="submit" class="btn btn-outline-primary text-black">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>>