﻿@using HELZFashion.Domain.Entities
@model List<HELZFashion.Domain.Entities.Category>

    <style>
        .table {
            width: 1000px;
            border-collapse: collapse;
            margin-top: 20px auto;
        border-color: #CDD873;
            margin-top:5px;
            margin:auto;
        }

        th {
        color: #CDD873;
        }

        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }


        tbody tr:hover {
            background-color: #CDD873; /* Üzerine gelinen satırın arka plan rengi */
            color: white; /* Üzerine gelinen satırın yazı rengi */
        }

        .btn {
            background-color: #47280B;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

<body>
    <ul class="navMenu">  
        <h>If you want to add a new Category item click here   👉🏻</h>
        <a asp-action="Add" asp-route-id="id" class="btn">Add</a>

    </ul>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Delete</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td><a asp-action="Delete" asp-route-id="@category.Id" class="btn bg-danger ">Delete</a></td>
                    <td><a asp-action="Update" asp-route-id="@category.Id" class="btn bg-warning">Update</a></td>

                </tr>
            }
        </tbody>
    </table>

</body>
