<div class="container bg-warning">
    <div class="row">
        <div class="col-8 mx-auto card">
            <h1 class="text-center ">Category Update Page</h1>
            <form method="post">
                <div class="form-group">
                    <label for="CategoryName">Category Name</label>
                    <input type="text" id="CategoryName" name="CategoryName" class="form-control border-warning">

                    <label for="CreatedByUserId"> Created By User </label>
                    <input type="text" id="CreatedByUserId" name="CreatedByUserId" class="form-control border-warning">
                </div>
                <div class="text-center">
                    <br />
                    <button type="submit" class="btn btn-outline-warning text-black">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>